body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
}


.navbar {
      margin-bottom: 0;
      border-radius: 0;
}
.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.4;
    color: #fff;
    background: #000 url("https://4.bp.blogspot.com/-rg-WEbYUny8/WV7pQDxerJI/AAAAAAAAIK0/5Udz8UwbbBoeZzjpeYw-zZ6cYd6yf6XyACLcBGAs/s1600/WhatsApp%2BImage%2B2017-07-05%2Bat%2B18.37.27.jpeg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    
  
  
  position:absolute;
  top:0;left:0;
  z-index:1;
}
.jumbotron {
    position:relative;
    padding:50px;
    color: black;
}
.jumbotron .container {z-index:2;
 position:relative;
  z-index:2;
}
.head {
    font-size: 30px;
    
}
.name {
    font-family: 'Indie Flower', cursive;
}
h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}
.header {
    text-align: center;
    color: white;
    font-size: 16px;
}
.about-me{
    padding-left: 0;
    padding-right: 0;
}

.col-md-4 {
    margin-top: 70px;
    margin-left: 45px;
}
.btn-default {
    height: 50px;
    width: 50px;
    border: transparent;
}
.para-me {
    margin-left: -25px;
}
.time {
    margin-top: -60px;
}

/* Layout */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Styling */
.timeline {
  margin: 4em auto;
  position: relative;
  max-width: 46em;
}
.timeline:before {
  background-color: black;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 2em;
  width: 2px;
  height: 100%;
}

.timeline-event {
  position: relative;
}
.timeline-event:hover .timeline-event-icon {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a83279;
}
.timeline-event:hover .timeline-event-thumbnail {
  -moz-box-shadow: inset 40em 0 0 0 #a83279;
  -webkit-box-shadow: inset 40em 0 0 0 #a83279;
  box-shadow: inset 40em 0 0 0 #a83279;
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
}
.timeline-event-copy h3 {
  font-size: 1.75em;
}
.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}
.timeline-event-copy strong {
  font-weight: 700;
}
.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

.timeline-event-icon {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: black;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: 2em;
  width: 1em;
  height: 1em;
}

.timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: black;
  -moz-box-shadow: inset 0 0 0 0em #ef795a;
  -webkit-box-shadow: inset 0 0 0 0em #ef795a;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

.img-responsive {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.cntainer:hover .img-responsive {
  opacity: 0.3;
}

.cntainer:hover .middle {
  opacity: 1;
}

.text {
background-color: aliceblue
  color: black;
  font-size: 25px;
  padding: 16px 2px;
}